add-task-dialog-enter {
    opacity: 0;
}
add-task-dialog-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
add-task-dialog-exit {
    opacity: 0;
}
add-task-dialog-exit-active {
    opacity: 1;
    transition: opacity 500ms;
}